@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=DM+Serif+Display&family=PT+Serif:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&display=swap');*/

:root{
    --light-bg: #f4f2f2;
    --light-text: #d9d3cf;
    --text-1: #af7f66;
    /* --text-1: #c28665; */
}

html{
    scroll-behavior: smooth;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Oswald', sans-serif;
}

ul li{
    list-style-type: none;
    cursor: pointer;
}
ul li a{
    color: black;
    cursor: pointer;
    padding: 5px 10px;
}
ul li a:hover{
    color: var(--text-1);
}

a{
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Playfair Display', serif;
}

.btn{
    padding: 12px 30px;
    width:fit-content;
    text-transform: uppercase;
    background: transparent;
    color: var(--text-1);
    border: 1px solid var(--text-1);
    cursor: pointer;
    border-radius: 3px;
    transition: all 0.3s;
}
.btn:hover{
    background: var(--text-1);
    color: white;
    transition: all 0.3s;
}

.icon-left{
    /* font-size: 13px; */
    margin-right: 8px;
}
.icon-right{
    /* font-size: 13px; */
    margin-left: 8px;
}

header{
    width: 100%;
    height: 70px;
    padding: 10px 0;
    text-transform: uppercase;
    font-size: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    position: fixed;
    z-index: 100;
    background: white;;
}

header ul{
    display: flex;
    gap: 40px;
}

.header{
    display: flex;
    gap: 20px;
    width: 95%;
    height: 100%;
    margin: 0 auto;
}
.logo-container h1{
    font-size: 50px;
    color: var(--text-1);
}

.nav-menu{
    display: flex;
    align-items: center;
    width: 40%;
}
.nav-menu .active{
    color: var(--text-1);
}

.logo-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
}

.nav-account{
    display: flex;
    align-items: center;
    justify-content: end;
    width: 40%;
}
/*///////////////*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: 'Abril Fatface', serif;
    font-family: 'DM Serif Display', serif;
    font-family: 'PT Serif', serif;
    text-transform: capitalize;
    transition: all 0.2s linear;
}
 
.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    box-shadow: 4px solid black;
}
 
.container form {
   width: 700px;
   padding: 20px;
   background: #fff;
   box-shadow: 5px 5px 30px rgb(0,0,0,0.2);
   position: fixed;
}
 
.container form .row{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}
 
.container form .row .col{
    flex: 1 1 250px;   
}

.col .title{
    font-size: 22px;
    color: #0d0d0c;
    padding-bottom: 5px;
}

.col .ip{
    margin: 15px 0;
}

.col .ip lable{
    margin-bottom: 10px;
    display: block;
}

.col .ip input, .col .ip select{
    width: 100%;
    border: 2px solid #ccc;
    padding: 10px 15px;
    font-size: 15px;
    font-family: ;
}

.col .ip input:focus, .col .ip select:focus{
    border: 1px solid #000;
}

.col .flex{
    display: flex;
    gap: 15px;  
} 

.col .flex .ip{
    flex: 1 1;
    margin-top: 5px;
}

.container form .sbmt_bt{
    width: 100%;
    padding: 12px;
    font-size: 17px;
    background: #4b607a;
    color: #fff;
    margin-top: 5px;
    cursor: pointer;
    letter-spacing: 1px;
    text-decoration: none;
}

.container form .sbmt_bt:hover{
    background-color: #4c70a1;
    color: white;
    border: 5px solid white;
}

input::-webkit-inner-spin-button,
input::-webkit-inner-spin-button{
    display: none;
}